.DS_STORE
.idea

public
resources
.hugo_build.lock

/deploy/secrets_backend.tfvars
/deploy/secrets.tfvars
/deploy/secrets.tf
/deploy/providers.tf
/deploy/backend.tf
/deploy/.terraform.lock.hcl
/deploy/.terraform/
